<div id="<%= dom_id coin %>">
  <p>
    <strong>Descrição:</strong>
    <%= coin.description %>
  </p>

  <p>
    <strong>Sigla:</strong>
    <%= coin.acronym %>
  </p>

  <p>
    <strong><%= coin.acronym %></strong>
    <%= image_tag coin.url_image, size: "20x20" %>
  </p>

</div>
